@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Space Mono", monospace;
}

h1 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

body {
  font-family: "Lexend Deca Regular", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

img {
  display: inline-block;
  width: 100%;
}

.inner-page__showcase {
  padding-top: 72px;
  padding-bottom: 54px;
  background-image: url("../../assets/images/careers-locations-hero-desktop.jpg");
}

.inner-page__showcase-message {
  margin-left: 165px;
  color: #fff;
  background-image: url("../../assets/patterns/white-circles.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.container {
  max-width: 77%;
  margin: 0 auto;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.flex-item__center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.rounded-img {
  border-radius: 50%;
}

.rounded-img__lg {
  width: 445px;
}

.rounded-img__sm {
  width: 240px;
}

.dark-text {
  color: #495567;
}

.dim-text {
  color: #939caa;
}

.text-center {
  text-align: center;
}

.question {
  background-color: #f2f5f9;
  padding: 32px 40px 32px 40px;
  min-width: 727px;
}

.is-open {
  display: block !important;
}

.is-rotated {
  transform: rotate(180deg);
}

.w-desktop {
  max-width: 445px;
}

.w-7 {
  max-width: 70%;
}

.mt-0 {
  margin-top: 20px;
}

.mt-1 {
  margin-top: 24px;
}

.mt-2 {
  margin-top: 27px;
}

.my-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.cta {
  border: 3px solid transparent;
  width: 195px;
  height: 53px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.cta__primary {
  background-color: #fcb72b;
  color: #fff;
}

.cta__primary:hover {
  border: 3px solid #fcb72b;
  color: #fcb72b;
  background-color: #fff;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px auto;
}

.main-nav__details {
  display: flex;
  align-items: center;
}

.main-nav__items {
  display: flex;
}

.main-nav__item:first-of-type {
  margin-left: 60px;
}

.main-nav__item:nth-of-type(2) {
  margin-left: 38px;
}

.main-nav__item:last-of-type {
  margin-left: 52px;
}

.main-nav__link {
  font-family: "Space Mono", monospace;
}

.main-footer {
  background-color: #495567;
}

.main-footer__sign-up {
  padding: 120px 165px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-image: url("../../assets/patterns/semi-circles.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.main-footer__sign-up h2 {
  width: 415px;
}

.main-footer__sign-up__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 359px;
}

.main-footer__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #333a44;
  padding: 35px 165px;
}

.main-footer__nav-details {
  display: flex;
  align-items: flex-start;
}

.main-footer__nav-items {
  margin-left: 58px;
  display: flex;
}

.main-footer__nav-item:nth-of-type(2) {
  margin-left: 37px;
  margin-right: 50px;
}

.main-footer__nav-link {
  color: #939caa;
}

.main-footer__nav-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-footer__nav-icon:nth-of-type(2) {
  margin: 0 24px;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .flex-0 {
    order: 0;
  }
  .flex-1 {
    order: 1;
  }
  .flex-item {
    text-align: center;
  }
  .flex-md {
    flex-direction: column;
  }
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-footer__sign-up {
    flex-direction: column;
    text-align: center;
    background-position: bottom center;
  }
  .main-footer__sign-up__btns {
    margin: auto;
    margin-top: 24px;
  }
  .main-footer__nav {
    padding: 35px 40px;
  }
}

@media screen and (max-width: 375px) {
  .inner-page__showcase-message {
    background: none;
  }
  .main-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-nav__header {
    display: flex;
    width: 83%;
    margin: 0 auto;
    padding: 22px 0;
  }
  .mobile-nav__logo {
    margin: 0 auto;
  }
  .mobile-nav__details {
    background-color: #495567;
    height: 603px;
    padding-top: 64px;
    padding-left: 32px;
    padding-bottom: 24px;
    width: 256px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
  }
  .mobile-nav__item {
    margin: 25px 0;
  }
  .mobile-nav__link {
    color: #e5ecf4;
    font-weight: 700;
    font-size: 18px;
    font-family: "Space Mono", monospace;
  }
  .mobile-nav__overlay {
    height: 603px;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    z-index: 1;
  }
  .main-footer__sign-up {
    padding: 88px 32px;
  }
  .main-footer__sign-up h2 {
    width: 100%;
  }
  .main-footer__sign-up__btns {
    width: 100%;
  }
  .main-footer__sign-up__btn:first-of-type {
    margin-right: 13px;
  }
  .main-footer__nav {
    display: flex;
    flex-direction: column;
  }
  .main-footer__nav-details {
    flex-direction: column;
    align-items: center;
  }
  .main-footer__nav-items {
    flex-direction: column;
    margin-top: 42px;
    align-items: flex-end;
  }
  .main-footer__nav-item:nth-of-type(2) {
    margin: 21px 0 21px 0;
  }
  .main-footer__nav-icons {
    justify-content: center;
    margin-top: 90px;
  }
}

.showcase {
  background-image: url("../../assets/images/home-hero-desktop.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 150px;
  overflow-x: hidden;
  margin-bottom: 80px;
}

.showcase__message {
  padding-left: 165px;
  position: relative;
}

.showcase__message::after {
  content: url("../../assets/patterns/white-circles.svg");
  position: absolute;
  right: -50px;
  bottom: 10px;
}

.showcase__message h1 {
  max-width: 500px;
}

.showcase__message p {
  max-width: 405px;
  margin-left: 95px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.showcase__message p::before {
  content: url("../../assets/patterns/line.svg");
  position: absolute;
  top: 40px;
  left: -160px;
  transform: translate(-50%, -50%);
}

.showcase__message p:after {
  content: url("../../assets/patterns/right-arrow.svg");
  position: absolute;
  top: 40px;
  left: 420px;
}

.process {
  margin-top: 80px;
  margin-bottom: 50px;
  gap: 26px;
}

.process__detail-header img {
  width: 96px;
}

.process__detail-title {
  margin-top: 40px;
  margin-bottom: 28px;
}

.usage {
  margin-top: 150px;
  margin-bottom: 80px;
}

.usage__message p {
  margin-bottom: 40px;
}

.coming-soon {
  margin-bottom: 80px;
}

.coming-soon__message p {
  margin-bottom: 40px;
}

.ease-of-use {
  margin-top: 80px;
  margin-bottom: 200px;
}

.ease-of-use__message p {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .showcase {
    position: relative;
    background-image: url("../../assets/images/home-hero-tablet.jpg");
    padding-top: 137px;
    padding-bottom: 217px;
  }
  .showcase:before {
    content: url("../../assets/patterns/right-arrow.svg");
    position: absolute;
    bottom: 40px;
    left: -127px;
  }
  .showcase::after {
    content: url("../../assets/patterns/white-circles.svg");
    position: absolute;
    right: -31px;
    bottom: 45px;
  }
  .showcase__message {
    padding-left: 0;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
  }
  .showcase__message h1,
  .showcase__message p {
    min-width: 100%;
  }
  .showcase__message:after {
    content: "";
  }
  .showcase__message p {
    margin-left: 0;
  }
  .showcase__message p::before {
    content: "";
  }
  .showcase__message p:after {
    content: "";
  }
  .process__detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .process__detail-header {
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .process__detail-info {
    grid-column: 2 / 3;
  }
  main div[class*="__message"] {
    margin-top: 64px;
  }
}

#about-showcase {
  background-image: url("../../assets/images/about-hero-desktop.jpg");
}

.mobility {
  margin-top: 120px;
}

.urban-living {
  margin: 120px auto;
}

.values {
  margin-bottom: 120px;
}

.values__header {
  margin-bottom: 32px;
}

.values__details-header {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 32px;
}

.values__details-number {
  background-color: #fcb72b;
  border-radius: 50%;
  max-width: 96px;
  padding: 34px 36px 30px 36px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.values__details-number p {
  font-size: 24px;
}

.values .grid-item {
  gap: 30px;
}

.faqs {
  margin-bottom: 160px;
}

.faqs__process {
  margin: 64px 0;
}

.faq__body {
  display: none;
}

@media screen and (max-width: 768px) {
  .values__details {
    margin: 0 155px;
  }
  .values__details-header {
    padding: 55px;
  }
  .question {
    min-width: 100%;
  }
  .w-7 {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .values__details {
    margin: 0 32px;
  }
  .values__details-header {
    padding: 32px;
  }
}

.locations {
  margin-top: 120px;
  margin-bottom: 120px;
  height: 542px;
  background-image: url("../../assets/images/world-map-desktop.png");
  position: relative;
}

.locations__info {
  position: absolute;
  background-color: #fcb72b;
}

.locations__info:first-of-type {
  top: 72px;
  left: 147px;
}

.locations__info:nth-of-type(2) {
  top: 18px;
  left: 393px;
}

.locations__info:nth-of-type(3) {
  top: 78px;
  right: 65px;
}

.locations__info:last-of-type {
  top: 251px;
  right: 142px;
}

.city-list {
  margin-bottom: 120px;
}

.city-list__cta {
  margin-left: 105px;
}

@media screen and (max-width: 768px) {
  .city-list__body {
    margin: 40px 0;
  }
  .city-list__cta {
    margin-left: 0;
  }
}

.mission {
  margin: 120px auto;
}

.position {
  background-color: #f2f5f9;
  margin: 12px 0;
  padding: 32px 64px 37px 40px;
}

.positions {
  margin-bottom: 160px;
}

@media screen and (max-width: 768px) {
  .mission__message {
    margin-top: 64px;
  }
  .mission__message p {
    margin: 24px auto 40px auto;
  }
}

@media screen and (max-width: 375px) {
  .position {
    display: flex;
    flex-direction: column;
  }
  .position__info {
    margin-bottom: 15px;
  }
  .position__info p {
    margin-top: 4px;
  }
  .mission__graphic {
    max-width: 100%;
  }
  .mission__graphic img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */